* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*NAV BAR*/

nav {
  width: 100%;
  height: 120px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
}

.nav-bar .nav-bar1 {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: black;
}

.nav-bar1 .nav-bar1-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar1 a {
  color: rgb(255, 255, 255);
}

.nav-bar1-1 a {
  padding-left: 10px;
}

.nav-bar1 .nav-bar1-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar1-2 a {
  padding-right: 10px;
}

.hidden-navbar .hidden-icons,
.nav-logo {
  display: none;
}

.nav-logo img {
  height: 100%;
  width: 66px;
}

.nav-bar2 {
  height: 50px;
  background-color: white;
  font-family: Shentox, sans-serif;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar2 a {
  color: rgb(189, 189, 189);
  padding-left: 10px;
  align-items: center;
}

.nav-bar2 .nav-links {
  display: flex;
  justify-content: flex-start;
}

.nav-bar2 .search {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-left: 1px solid rgb(234, 234, 234);
}

.nav-bar3 {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(253, 221, 51);
}

.nav-bar3 a {
  color: rgb(0, 0, 0);
}

/* Media query for nav-bar */
@media only screen and (max-width: 767px) {
  .nav-bar {
    height: 115px;
  }
  /*nav bar 1*/
  .nav-bar .nav-bar1 {
    display: none;
  }

  /*nav bar 2*/
  .nav-bar .nav-bar2 {
    display: none;
  }
  .hidden-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar .nav-logo {
    display: flex;
  }

  .nav-bar .hidden-icons {
    display: flex;
    align-items: center;
  }

  .hidden-icons a {
    padding: 20px;
    border-left: 1px solid rgb(234, 234, 234);
  }
  .hidden-icons .search {
    color: rgb(189, 189, 189);
  }
  .hidden-icons .menu {
    color: red;
  }

  .nav-bar3 {
    height: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*Nav bar 1*/
  .nav-bar1 .nav-bar1-2 {
    display: none;
  }
  .nav-bar1 .nav-bar1-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 65px;
    margin-right: -60px;
  }

  .nav-bar1 a {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }

  /*nav bar 2*/
  .nav-bar .nav-bar2 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
  }

  .nav-bar2 .nav-links {
    font-size: 12px;
    display: flex;
  }

  .hidden-navbar .nav-logo {
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    height: 90px;
  }
}

/*MAIN CONTENT*/

main {
  width: 100%;
  height: 5000px;
  background-color: fuchsia;
}

/*TOP GRID*/

.articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 250px) 150px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
}

.articles img {
  width: 100%;
  height: 100%;
}

.articles .article-one {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.articles .article-two {
  grid-column: 2;
  grid-row: 1;
}

.articles .article-three {
  grid-column: 2;
  grid-row: 2;
}
.ad {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

/*MEDIA QUERY FOR TOP GRID SECTION*/

@media only screen and (max-width: 767px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
    background-color: white;
  }

  .articles img {
    width: 100%;
    height: 100%;
  }

  .articles .article-one {
    grid-column: 1;
    grid-row: 1;
  }

  .articles .article-two {
    grid-column: 1;
    grid-row: 2;
  }

  .articles .article-three {
    grid-column: 1;
    grid-row: 3;
  }

  .ad {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

/* LATEST NEWS SECTION*/

.latest-news img {
  height: 150px;
  width: 250px;
}

.latest-news .news-title p {
  font-family: "Avalon", sans-serif;
  font-size: 25px;
  color: red;
}

.latest-news .news-title p:hover {
  color: black;
}

.latest-news .news-title .fa {
  font-size: 17px;
}

.latest-news p {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 700px;
  margin-right: 18px;
}

.latest-news small {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: rgb(170, 170, 170);
  font-weight: 700px;
}

.latest-news {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr) 1fr;
  grid-template-rows: 50px repeat(2, 240px) 150px;
  grid-column-gap: 10px;
  background-color: white;
}

.latest-news .news-title {
  grid-column: 2 / span 4;
  grid-row: 1;
}

.latest-news .book {
  grid-column: 2;
  grid-row: 2;
}

.latest-news .game {
  grid-column: 3;
  grid-row: 2;
}

.latest-news .candy {
  grid-column: 4;
  grid-row: 2;
}

.latest-news .whatsapp {
  grid-column: 5;
  grid-row: 2;
}

.latest-news .instagram {
  grid-column: 2;
  grid-row: 3;
}

.latest-news .bitcoin {
  grid-column: 3;
  grid-row: 3;
}
.latest-news .stalkerware {
  grid-column: 4;
  grid-row: 3;
}

.latest-news .google {
  grid-column: 5;
  grid-row: 3;
}

.latest-news .ad {
  grid-row: 4;
  grid-column: 3 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

/*MEDIA QUERY FOR LATEST NEWS*/

@media only screen and (max-width: 767px) {
  .latest-news img {
    height: 75px;
    width: 100px;
    padding-right: 10px;
  }

  .latest-news {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(9, 75px);
    grid-row-gap: 10px;
    background-color: white;
    padding-left: 20px;
  }

  .latest-news img {
    float: left;
  }

  .latest-news .news-title {
    grid-column: 1;
    grid-row: 1;
  }

  .latest-news .book {
    grid-column: 1;
    grid-row: 2;
  }

  .latest-news .game {
    grid-column: 1;
    grid-row: 3;
  }

  .latest-news .candy {
    grid-column: 1;
    grid-row: 4;
  }

  .latest-news .whatsapp {
    grid-column: 1;
    grid-row: 5;
  }

  .latest-news .instagram {
    grid-column: 1;
    grid-row: 6;
  }

  .latest-news .bitcoin {
    grid-column: 1;
    grid-row: 7;
  }
  .latest-news .stalkerware {
    grid-column: 1;
    grid-row: 8;
  }

  .latest-news .google {
    grid-column: 1;
    grid-row: 9;
  }

  .latest-news .ad {
    grid-column: 1;
    grid-row: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .latest-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 240px) 150px;
    grid-column-gap: 10px;
    background-color: white;
  }

  .latest-news img {
    height: 150px;
    width: 90%;
  }

  .latest-news .news-title {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .latest-news .book {
    grid-column: 1;
    grid-row: 2;
  }

  .latest-news .game {
    grid-column: 2;
    grid-row: 2;
  }

  .latest-news .candy {
    grid-column: 3;
    grid-row: 2;
  }

  .latest-news .whatsapp {
    grid-column: 1;
    grid-row: 3;
  }

  .latest-news .instagram {
    grid-column: 2;
    grid-row: 3;
  }

  .latest-news .bitcoin {
    grid-column: 3;
    grid-row: 3;
  }
  .latest-news .stalkerware {
    grid-column: 1;
    grid-row: 4;
  }

  .latest-news .google {
    grid-column: 2;
    grid-row: 4;
  }

  .latest-news .ad {
    grid-row: 5;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

/* LATEST FUNDING SECTION*/
.latest-funding .funding-title p {
  font-family: "Avalon", sans-serif;
  font-size: 25px;
  color: red;
}

.latest-funding .funding-title p:hover {
  color: black;
}

.latest-funding .funding-title .fa {
  font-size: 17px;
}
.latest-funding .funding-links a:hover {
  color: black;
}

.latest-funding .funding-links a {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  color: red;
  font-weight: 700px;
  padding-left: 10px;
  padding-right: 10px;
}

#border {
  border-right: 1px solid red;
  border-left: 1px solid red;
  height: 15px;
}

.latest-funding img {
  height: 55px;
  width: 50px;
  float: left;
  z-index: 10;
  padding-top: 5px;
}

.latest-funding h4 {
  font-family: "Avalon", sans-serif;
  font-size: 18px;
  color: black;
}

.latest-funding h6 {
  font-family: "Shentox", sans-serif;
  font-size: 11px;
  color: rgb(170, 170, 170);
  font-weight: 500;
}

.latest-funding .tags {
  font-family: "Shentox", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(84, 84, 84);
}
.latest-funding .tags .fa {
  padding-right: 5px;
  color: black;
}
.latest-funding span {
  font-family: "Shentox", sans-serif;
  font-size: 13px;
  color: rgb(170, 170, 170);
  font-weight: 400;
}

.latest-funding hr {
  color: rgb(246, 192, 188);
  margin-right: -20px;
  margin-left: -10px;
}

.latest-funding {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr) 1fr;
  grid-template-rows: 50px 240px 25px;
  grid-column-gap: 20px;
  background-color: white;
}

.latest-funding .funding-title {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.latest-funding .funding-links {
  grid-row: 1;
  grid-column: 4 / span 2;
  display: flex;
  justify-content: flex-end;
}

.latest-funding .elliptic {
  grid-row: 2;
  grid-column: 2;
  background-color: rgb(254, 250, 248);
  padding-left: 10px;
  padding-right: 20px;
}

.latest-funding .elliptic h4 {
  margin-left: -10px;
  margin-right: -20px;
}

.elliptic .elliptic-title {
  height: 30px;
  padding-top: 5px;
  padding-left: 70px;
  background-color: red;
  color: white;
}
.elliptic .elliptic-details {
  height: 50px;
  margin-left: -10px;
  margin-right: -20px;
  padding-top: 5px;
  padding-left: 80px;
  background-color: rgb(251, 232, 230);
  color: black;
}
.elliptic .elliptic-details h6 {
  margin-left: -10px;
}

.elliptic .elliptic-tags {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.elliptic .text p {
  line-height: 18px;
}

.latest-funding .block {
  grid-row: 2;
  grid-column: 3;
  padding-left: 10px;
  padding-right: 20px;
  background-color: rgb(254, 250, 248);
}

.latest-funding .block h4 {
  margin-left: -10px;
  margin-right: -20px;
}

.block .block-title {
  height: 30px;
  padding-top: 5px;
  padding-left: 70px;
  background-color: red;
  color: white;
}
.block .block-details {
  height: 50px;
  margin-left: -10px;
  margin-right: -20px;
  padding-top: 5px;
  padding-left: 80px;
  background-color: rgb(251, 232, 230);
  color: black;
}
.block .block-details h6 {
  margin-left: -10px;
}

.block .block-tags {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block .text p {
  line-height: 18px;
}

.latest-funding .toast {
  grid-row: 2;
  grid-column: 4;
  background-color: rgb(254, 250, 248);
  padding-left: 10px;
  padding-right: 20px;
}

.latest-funding .toast h4 {
  margin-left: -10px;
  margin-right: -20px;
}

.toast .toast-title {
  height: 30px;
  padding-top: 5px;
  padding-left: 70px;
  background-color: red;
  color: white;
}
.toast .toast-details {
  height: 50px;
  margin-left: -10px;
  margin-right: -20px;
  padding-top: 5px;
  padding-left: 80px;
  background-color: rgb(251, 232, 230);
  color: black;
}
.toast .toast-details h6 {
  margin-left: -10px;
}

.toast .toast-tags {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toast .text p {
  line-height: 18px;
}

.latest-funding .nova {
  grid-row: 2;
  grid-column: 5;
  background-color: rgb(254, 250, 248);
  padding-left: 10px;
  padding-right: 20px;
}

.latest-funding .nova h4 {
  margin-left: -10px;
  margin-right: -20px;
}

.nova .nova-title {
  height: 30px;
  padding-top: 5px;
  padding-left: 70px;
  background-color: red;
  color: white;
}
.nova .nova-details {
  height: 50px;
  margin-left: -10px;
  margin-right: -20px;
  padding-top: 5px;
  padding-left: 80px;
  background-color: rgb(251, 232, 230);
  color: black;
}
.nova .nova-details h6 {
  margin-left: -10px;
}

.nova .nova-tags {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nova .text p {
  line-height: 18px;
}

/*MEDIA QUERIES FOR LATEST FUNDING */

@media only screen and (max-width: 767px) {
  #border {
    border: none;
  }

  .latest-funding {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 75px repeat(3, 250px);
    grid-row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .latest-funding .funding-title {
    grid-row: 1;
    grid-column: 1;
  }

  .latest-funding .funding-links {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-left: -10px;
  }

  .latest-funding .elliptic {
    grid-row: 3;
    grid-column: 1;
  }

  .latest-funding .block {
    grid-row: 4;
    grid-column: 1;
  }

  .latest-funding .toast {
    grid-row: 5;
    grid-column: 1;
  }
  .latest-funding .nova {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .latest-funding {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 250px;
    grid-column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .latest-funding .funding-title {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  .latest-funding .funding-links {
    grid-row: 2;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -10px;
  }

  .latest-funding .elliptic {
    grid-row: 3;
    grid-column: 1;
  }

  .latest-funding .block {
    grid-row: 3;
    grid-column: 2;
  }

  .latest-funding .toast {
    grid-row: 3;
    grid-column: 3;
  }
  .latest-funding .nova {
    display: none;
  }
}

/* Latest-section */
.latest-section .header a, i {
  font-family: "Avalon", sans-serif;
  font-size: 25px;
  color: red;
}

.latest-section h2 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px ;
  font-weight: 400 ;
  color: rgb(85, 85, 85);
}

.latest-section h2 .image-links {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 22px;
}

.latest-section .image-links:hover{
  text-decoration: underline;
}

.latest-section h6 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.latest-section .latest h2 {
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgb(255, 68, 34);
}

.latest-section .latest h2 p a {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 68, 34);
}

.latest-section .latest h2 p a:hover {
  text-decoration: underline;
}

.latest-section .latest img {
  height: 50px;
  width: 50px;
}

.latest-section .latest-list ul li {
  list-style-type: disc ;
  color: red;
}

.latest-section .latest-list ul li a {
  color: black;
}

.latest-section {
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr) 1fr;
  grid-template-rows: 30px 240px 50px repeat(5, 30px);
}

/* FOOTER*/
footer {
  width: 100%;
  height: 200px;
  background-color: hotpink;
}
