* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*NAV BAR*/

nav {
  width: 100%;
  height: 120px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
}

.nav-bar .nav-bar1 {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: black;
}

.nav-bar1 .nav-bar1-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar1 a {
  color: rgb(255, 255, 255);
}

.nav-bar1-1 a {
  padding-left: 10px;
}

.nav-bar1 .nav-bar1-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar1-2 a {
  padding-right: 10px;
}

.hidden-navbar .hidden-icons,
.nav-logo {
  display: none;
}

.nav-logo img {
  height: 100%;
  width: 66px;
}

.nav-bar2 {
  height: 50px;
  background-color: white;
  font-family: Shentox, sans-serif;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar2 a {
  color: rgb(189, 189, 189);
  padding-left: 10px;
  align-items: center;
}

.nav-bar2 .nav-links {
  display: flex;
  justify-content: flex-start;
}

.nav-bar2 .search {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-left: 1px solid rgb(234, 234, 234);
}

.nav-bar3 {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(253, 221, 51);
}

.nav-bar3 a {
  color: rgb(0, 0, 0);
}

/* Media query for nav-bar */
@media only screen and (max-width: 767px) {
  .nav-bar {
    height: 115px;
  }
  /*nav bar 1*/
  .nav-bar .nav-bar1 {
    display: none;
  }

  /*nav bar 2*/
  .nav-bar .nav-bar2 {
    display: none;
  }
  .hidden-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar .nav-logo {
    display: flex;
  }

  .nav-bar .hidden-icons {
    display: flex;
    align-items: center;
  }

  .hidden-icons a {
    padding: 20px;
    border-left: 1px solid rgb(234, 234, 234);
  }
  .hidden-icons .search {
    color: rgb(189, 189, 189);
  }
  .hidden-icons .menu {
    color: red;
  }

  .nav-bar3 {
    height: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*Nav bar 1*/
  .nav-bar1 .nav-bar1-2 {
    display: none;
  }
  .nav-bar1 .nav-bar1-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 65px;
    margin-right: -60px;
  }

  .nav-bar1 a {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }

  /*nav bar 2*/
  .nav-bar .nav-bar2 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
  }

  .nav-bar2 .nav-links {
    font-size: 12px;
    display: flex;
  }

  .hidden-navbar .nav-logo {
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    height: 90px;
  }
}

/*MAIN CONTENT*/

main {
  width: 100%;
  height: 5000px;
  background-color: fuchsia;
}

/*TOP GRID*/

.articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 250px) 150px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
}

.articles img {
  width: 100%;
  height: 100%;
}

.articles .article-one {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.articles .article-two {
  grid-column: 2;
  grid-row: 1;
}

.articles .article-three {
  grid-column: 2;
  grid-row: 2;
}
.ad {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

/*MEDIA QUERY FOR TOP GRID SECTION*/

@media only screen and (max-width: 767px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
    background-color: white;
  }

  .articles img {
    width: 100%;
    height: 100%;
  }

  .articles .article-one {
    grid-column: 1;
    grid-row: 1;
  }

  .articles .article-two {
    grid-column: 1;
    grid-row: 2;
  }

  .articles .article-three {
    grid-column: 1;
    grid-row: 3;
  }

  .ad {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

/* LATEST NEWS SECTION*/

.latest-news img {
  height: 150px;
  width: 250px;
}

.latest-news .news-title p {
  font-family: "Avalon", sans-serif;
  font-size: 25px;
  color: red;
}

.latest-news .news-title p:hover {
  color: black;
}

.latest-news .news-title .fa {
  font-size: 17px;
}

.latest-news p {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 700px;
  margin-right: 18px;
}

.latest-news small {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: rgb(170, 170, 170);
  font-weight: 700px;
}

.latest-news {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr) 1fr;
  grid-template-rows: 50px repeat(2, 240px) 150px;
  grid-column-gap: 10px;
  background-color: white;
}

.latest-news .news-title {
  grid-column: 2 / span 4;
  grid-row: 1;
}

.latest-news .book {
  grid-column: 2;
  grid-row: 2;
}

.latest-news .game {
  grid-column: 3;
  grid-row: 2;
}

.latest-news .candy {
  grid-column: 4;
  grid-row: 2;
}

.latest-news .whatsapp {
  grid-column: 5;
  grid-row: 2;
}

.latest-news .instagram {
  grid-column: 2;
  grid-row: 3;
}

.latest-news .bitcoin {
  grid-column: 3;
  grid-row: 3;
}
.latest-news .stalkerware {
  grid-column: 4;
  grid-row: 3;
}

.latest-news .google {
  grid-column: 5;
  grid-row: 3;
}

.latest-news .ad {
  grid-row: 4;
  grid-column: 3 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

/*MEDIA QUERY FOR LATEST NEWS*/

@media only screen and (max-width: 767px) {
  .latest-news img {
    height: 75px;
    width: 100px;
    padding-right: 10px;
  }

  .latest-news {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px repeat(9, 75px);
    grid-row-gap: 10px;
    background-color: white;
    padding-left: 20px;
  }

  .latest-news img {
    float: left;
  }

  .latest-news .news-title {
    grid-column: 1;
    grid-row: 1;
  }

  .latest-news .book {
    grid-column: 1;
    grid-row: 2;
  }

  .latest-news .game {
    grid-column: 1;
    grid-row: 3;
  }

  .latest-news .candy {
    grid-column: 1;
    grid-row: 4;
  }

  .latest-news .whatsapp {
    grid-column: 1;
    grid-row: 5;
  }

  .latest-news .instagram {
    grid-column: 1;
    grid-row: 6;
  }

  .latest-news .bitcoin {
    grid-column: 1;
    grid-row: 7;
  }
  .latest-news .stalkerware {
    grid-column: 1;
    grid-row: 8;
  }

  .latest-news .google {
    grid-column: 1;
    grid-row: 9;
  }

  .latest-news .ad {
    grid-column: 1;
    grid-row: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .latest-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 240px) 150px;
    grid-column-gap: 10px;
    background-color: white;
  }

  .latest-news img {
    height: 150px;
    width: 90%;
  }

  .latest-news .news-title {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  .latest-news .book {
    grid-column: 1;
    grid-row: 2;
  }
  
  .latest-news .game {
    grid-column: 2;
    grid-row: 2;
  }
  
  .latest-news .candy {
    grid-column: 3;
    grid-row: 2;
  }
  
  .latest-news .whatsapp {
    grid-column: 1;
    grid-row: 3;
  }
  
  .latest-news .instagram {
    grid-column: 2;
    grid-row: 3;
  }
  
  .latest-news .bitcoin {
    grid-column: 3;
    grid-row: 3;
  }
  .latest-news .stalkerware {
    grid-column: 1;
    grid-row: 4;
  }
  
  .latest-news .google {
    grid-column: 2;
    grid-row: 4;
  }
  
  .latest-news .ad {
    grid-row: 5;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

}

/* FOOTER*/
footer {
  width: 100%;
  height: 200px;
  background-color: hotpink;
}
